* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
html {
    font-size: 14px;
}
body 				 { }
.container 		{
    font-family:'Roboto';
    width:600px;
    margin:30px auto 0;
    display:block;
    background:#FFF;
    padding:10px 50px 50px;
}
/*h2 		 {*/
    /*text-align:center;*/
    /*margin-bottom:50px;*/
/*}*/
h2 small {
    font-weight:normal;
    color:#888;
    display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

.new-event-form {
    text-align: center;
}

.form {
    margin-top: 20px;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    margin-bottom: 8px;
    background: rgba(255, 24, 24, 0.11);
    color: red;
    border-radius: 10px;
    font-size: 13px;
}

.success {
    margin-bottom: 8px;
    background: rgba(47, 255, 30, 0.11);
    color: #1f5618;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 5s ease-in;
}

.datepicker {
    border-bottom: 1px solid rgba(0, 0, 0, 0.258824);
}

.datepicker_empty {
    border-bottom: 2px solid rgba(255, 11, 5, 0.91);

}

.react-datepicker-ignore-onclickoutside{
    text-align: center;
}

.locationLogo{
    margin-top: 30px;
}

    /* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-bottom:45px;
}
input				{
    text-align: center;
    font-size:16px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid rgba(0, 0, 0, 0.258824);
    color: rgb(0, 0, 0);
}
input:focus 		{ outline:none; }

.mui-textfield {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.mui-row {
    margin: 0px;
}

.test{
    color: #000;
}

select{
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    -moz-appearance: none;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.26);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    padding-left: 20px;
    background-color: transparent;
}

.select_notVisited{
    border-bottom: 1px solid rgba(0,0,0,.26);
    color: rgba(0, 0, 0, 0.45);
}

.select_empty{
    border-bottom: 2px solid rgb(255, 11, 5);
    color: black;
}

.select_filled{
    color: black;
}

option {
    background: transparent;
    font-size: 16px;
    line-height: 10;
    border: 0;
    border-radius: 0;
    height: 5px;
    -webkit-appearance: none;
}

.mui-select{
    height: 26px;
    position: relative;
    z-index: 1;
}

.mui-select>select{
    color: #6d6d6d;
    padding-left: 32px;
}

.mui-select:visited{
    position: absolute;
    z-index: 1;
}

.mui-textfield>textarea {
    min-height: 0px;
    resize: none;
}

.mui-select__menu {
    position: initial;
    max-height: 200px;
}

.mui-scroll-lock {
    padding-right: 0px;
}

.mui-col-md-8 {
    padding-left: 0px;
    margin-top: 9px;
    text-align: left;
}

.mui-col-md-10 {
    padding-left: 0px;
}

.mui-col-md-4 {
    padding: 0px;
    margin-top: 17px
}
.mui-col-md-11 {
    padding: 0px;
    width: 90%;
}
.mui-col-md-1 {
    padding: 0px;
    padding-top: 37px;
    width: 10%;
}

textarea{
    color: red;
}

/* LABEL ======================================= */
.mui-textfield.mui-textfield--float-label > label {
    font-size: 16px;
    color: rgba(0,0,0,.26);
}


label 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-0px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}